<instructions>
- The instructions given are in <inputLanguageCode> but the HTML response should be in <outputLanguageCode>
- Think step by step to reach the answer.
- Give an HTML response
- Does the detection and related suspicious indicators look accurate and reasonable for the given events?
- Explain and Outline your reasoning for the explanation step by step.
- It is imperative that you give citations to identify and differentiate events instead of event numbers. Do not cite any traceId, maGuid, Event number.
  <example>
  reference Process Name, IPs, File Names, Registry Keys, Host Names
  </example>
</instructions>

Give the HTML Summary answer in <outputLanguageCode> language.