<instructions>
- The instructions given are in <inputLanguageCode> but the HTML response should be in <outputLanguageCode> language
- Think step by step to reach the answer.
- Tell me about breaches in the public domain that are known specifically relevant to the cybersecurity events and analysis.
IMPORTANT !! If you cannot confidently and accurately provide any of the above items, it is best to just omit the item. Accuracy is IMPORTANT here.
- Give the Output in HTML format and fill in the answer in <outputLanguageCode> language based only upon <exampleResponse>.
- It is imperative that you give citations.
  <example>
  reference Process Name, IPs, File Names, Registry Keys, Host Names, User Names, Command Lines.
  </example>
</instructions>

<exampleResponse>

<div>
  <ol>
    for <BREACH NAME> in <ALL RELATED KNOWN BREACH>
    (
      <li>
      <h3>
        <BREACH NAME>
      </h3>
      <ul>
        <li>
          <b>Description : </b><BREACH DESCRIPTION>
        </li>
        <li>
          <b>Exploitation and Detection Methods : </b><Unordered List of Exploitation and Detection Methods >
        </li>
        <li>
          <b>Similarities and Differences : </b><Unordered List of Similarities and Differences >
        </li>
        <li>
          <b>Lessons Learned : </b><Unordered List of Lessons Learned>
        </li>
        <li>
          <b>Current Risk Assessment : </b><Single Paragraph of how risk comparison between current events and mentioned known breach>
        </li>
      </ul>
    </li>
    ) MIN 2 MAX 4
  </ol>
<div>
</exampleResponse>

Give the HTML Summary answer in <outputLanguageCode> language.