<instructions>
- The instructions given are in <inputLanguageCode> but the HTML response should be in <outputLanguageCode>
- The previous analysis was good, but give me better.
- Think step by step to reach the output.
- It is imperative that you give citations.
  <example>
  reference Process Name, IPs, File Names, Registry Keys, Host Names, User Names, Command Lines.
  </example>
- You should focus majorly on the events that have "ProcessCreated" tags associated with them. These are the processes that are running in the device. Integrity is also present that rates the current process's integrity.
- You should filter and drill down the events present in the <events> more based on the previous analysis and give me more details on your drill down.
- See what is happening before and after the malicious processes got executed / created to get the root cause and also the side effects of the malicious process.
- See what all processes spawned form the malicious processes and how are they effecting the compromised host or not.
- Validate if the command lines present are actually known and correct commandlines that are used to the run current process or are they malicious.
- Validate the process activity and tell if the process is running in any unexpected manner than it is supposed to.
  <example>
  The process / file is running in from a temp folder and not from a genuine installation path.
  </example>
Give the Output in HTML format in <outputLanguageCode> language. Output only the further analysis. You should NOT repeat the previous analysis in the answer.
</instructions>

<exampleResponse>
<div>
  <div>
    <h3>
      Detailed Findings :
    </h3>
    <ul>
      for <ANALYSIS NAME> in <ALL ANALYSIS>
        <li>
          <span class="item-label">
            <b> <ANALYSIS NAME> : </b>
          </span>
          <span class="item-value">
            <AI Analysis Description in <outputLanguageCode> language>
          </span>
        </li>
    </ul>
  </div>
  <div>
    <h3>
      Conclusion :
    </h3>
    <p>
      <AI Conclusion in <outputLanguageCode> language for the above analysis>
    </p>
  </div>
<div>
</exampleResponse>

Give the HTML Summary answer in <outputLanguageCode> language.